.news__card-margin {
  margin-left: 45px;
}

@media screen and (max-width: 1024px) {
  .news__card-margin {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .news__card-margin {
    margin-left: 0;
  }
}