@import url(./__grid-card/about__grid-card.css);
@import url(./__grid/about__grid.css);
@import url(./__icon/about__icon.css);
@import url(./__text/about__text.css);
@import url(./__title/about__title.css);

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 80px;
  background-color: #fafafa;
  background-image: url('/images/—Pngtree—flat-white-background_442279.jpg');
}

@media screen and (min-width: 1920px) {
  .about {
    margin-top: 140px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-top: 0;
  }
}
