.header-bg {
  z-index: 0;
  position: absolute;
  max-width: 1440px;
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .header-bg {
    max-width: 1920px;
  }
}

@media screen and (max-width: 1024px) {
  .header-bg {
    height: 350px;
  }
}

@media screen and (max-width: 760px) {
  .header-bg {
    height: 370px;
  }
}