.contacts__container {
  padding-top: 50px;
  margin: 0 auto;
  width: 990px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .contacts__container {
    width: 900px;
  }
}

@media screen and (max-width: 920px) {
  .contacts__container {
    width: 600px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .contacts__container {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .contacts__container {
    width: 320px;
  }
}