@import '../vendor/fonts.css';
@import '../vendor/normalize.css';
@import './blocks/page/page.css';
@import './blocks/header/header.css';
@import './blocks/main/main.css';
@import './blocks/mobile-menu/mobile-menu.css';
@import './blocks/news/news.css';
@import './blocks//partners/partners.css';
@import './blocks/about/about.css';
@import './blocks/contacts/contacts.css';
@import './blocks/footer/footer.css';

.hide {
  display: none;
}

.photos {
  padding-top: 50px;
  margin-top: 90px;
  margin-bottom: 0;
  background-image: url('../images/—Pngtree—flat-white-background_442279.jpg');
  padding-bottom: 50px;
  z-index: 2;
}

.photos__image {
  max-width: 188px;
  z-index: 2;
}

.photos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
}

.photos__card {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.photos__container-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  z-index: 2;
}

.contacts-margin {
  padding-top: 50px;
}