.main__container-text {
  width: 600px;
  padding-top: 110px;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .main__container-text {
    max-width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .main__container-text {
    max-width: 300px;
    padding-left: 10px;
  }
}